<h2>{{ template.name }} Banner Page</h2>

{% schema %}
{
  "name": "Banner",
  "class": "banner",
  "settings": [

  ],
  "blocks": [
    
  ],
  "presets": [
    {
      "name": "Banner"
    }
  ]
}
{% endschema %}