<h1>{{ product.title }}</h1>
{% form 'product', product %}
  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
  <button>Add To Cart</button>
{% endform %}
{% schema %}
  {
    "name": "Product",
    "templates": [
      "product"
    ],
    "settings": [],
    "blocks": [],
    "presets": [
      {
        "name": "Product"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}